h1{
    text-align: center;
    font-size: x-large;
    color: blue;
    background-color: black;
}

.image-container {
    display: flex;      // Use Flexbox for centering
    justify-content: center;  // Center horizontally
    align-items: center;  // Center vertically
    height: 50vh;        // Full viewport height
    background-color: #f5f5f5; // Light background for contrast
  
    img {
      max-width: 100px;  // Adjust image size
      max-height: 100px; // Keep it proportional
      border-radius: 10px; // Add slight rounding
      box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1); // Light shadow for better appearance
    }
  }
  